
{% include 'header.html' %}
  
	<div class="row">
        <div class="large-12 columns">
            <h2><center><img src="{{ STATIC_URL }}img/Ar-name.jpg"/> Acidentes em Rodovias <img src="{{ STATIC_URL }}img/Ar-name.jpg"/></center></h2> 
            <hr />
            <div class="row">
                <h4><center>Estatísticas - Sexo dos envolvidos</center></h4>
            </div>
       </div>
    </div>
    
    <div class="row">
            
                <div class="content" data-section-content>
                    <div class="section-container accordion" data-section="accordion">
                        <section>
                            <p class="title button" data-section-title><a href="#">Quantidade de acidentes por ano - Homens x Mulheres</a></p>
                            <div class="content" data-section-content>
                                <div id="grafico_linha" align="center" style="min-width: 60%; margin: 0 auto"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        Highcharts.setOptions({
                                            lang: {
                                                decimalPoint: ',' ,
                                                thousandsSep: '.'
                                            }
                                        });
                                        $('#grafico_linha').highcharts({
                                            title: {
                                                text: 'Quantidade de ocorrências por ano - Homens x Mulheres',
                                                x: -20 //center
                                            },
                                            xAxis: {
                                            	title: {
                                            		text: 'Ano'
                                            	},
                                                categories: [2007, 2008, 2009, 2010, 2011, 2012, 2013]
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Quantidade total'
                                                },
                                                plotLines: [{
                                                    value: 0,
                                                    width: 1,
                                                    color: '#808080'
                                                }],
                                                min: 0,
                                            },
                                            tooltip: {
                                                //valueSuffix: ''
                                                pointFormat: "{point.y:f} ocorrências",
                                            },
                                            legend: {
                                                layout: 'vertical',
                                                align: 'right',
                                                verticalAlign: 'middle',
                                                borderWidth: 0
                                            },
                                            series: [{
                                                name: 'Homens',
                                                data: [{% for homem in homens %} {{homem.quantidade}}, {% endfor %}]
                                            },
                                            {
                                                name: 'Mulheres',
                                                data: [{% for mulher in mulheres %} {{mulher.quantidade}}, {% endfor %}]
                                            },
                                            ]
                                        });
                                    });
                                </script>      
                            </div>
                        </section>
                       
                    </div>      
                </div>
            
    </div>
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/highcharts-more.js"></script>
    <script src="{{ STATIC_URL }}js/modules/exporting.js"></script>

{% include 'footer.html' %}