{% include 'header.html' %}
   <div class="row">
        <div class="large-12 columns">
            <h2><center><img src="{{ STATIC_URL }}img/Ar-name.jpg"/> Acidentes em Rodovias <img src="{{ STATIC_URL }}img/Ar-name.jpg"/></center></h2> 
            <hr />
            <div class="row">
                <h4><center>Estatísticas - Ocorrências e envolvidos</center></h4>
            </div>
       </div>
    </div>
    
    <div class="row">
        <div class="section-container accordion" data-section="accordion">
            
        </div>      
    </div>
    
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/highcharts-more.js"></script>
    <script src="{{ STATIC_URL }}js/modules/exporting.js"></script>

{% include 'footer.html' %}
            