{% include 'header.html' %}
	<div class="row">
		<div class="large-12 columns">
			<h2><center><img src="{{ STATIC_URL }}img/Ar-name.jpg"/> Acidentes em Rodovias <img src="{{ STATIC_URL }}img/Ar-name.jpg"/></center></h2> 
			<hr />
		</div>
	</div>
  
    <p><center><em><strong>* Seleciona a o tipo de estatística (aba) e selecione o tipo de gráfico (seção).</strong></em></center></p>
    
    <div class="row">
        <div class="section-container tabs" data-section="tabs">
            <section class="active">
                <p class="title" data-section-title><a href="#">Tipos de ocorrências</a></p>
                <div class="content" data-section-content>
                    <div class="section-container accordion" data-section="accordion">
                        <section>
                            <p class="title" data-section-title><a href="#">Gráfico de linha</a></p>
                            <div class="content" data-section-content>
                                <h6>Todos os tipos de ocorrência ao longo dos anos</h6>
                                <div id="grafico_linha" style="min-width: 60%; margin: 0 auto"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        Highcharts.setOptions({
                                            lang: {
                                                decimalPoint: ',' ,
                                                thousandsSep: '.'
                                            }
                                        });
                                        $('#grafico_linha').highcharts({
                                            title: {
                                                text: 'Ocorrências por tipo',
                                                x: -20 //center
                                            },
                                            xAxis: {
                                                categories: [2007, 2008, 2009,]
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Quantidade total'
                                                },
                                                plotLines: [{
                                                    value: 0,
                                                    width: 1,
                                                    color: '#808080'
                                                }],
                                                min: 0,
                                            },
                                            tooltip: {
                                                //valueSuffix: ''
                                                pointFormat: "{point.y:f} ocorrências",
                                            },
                                            legend: {
                                                layout: 'vertical',
                                                align: 'right',
                                                verticalAlign: 'middle',
                                                borderWidth: 0
                                            },
                                            series: [{
                                                name: 'Falta de atenção',
                                                data: [90992, 23984, 238234]
                                            },
                                            {
                                                name: 'Não guardar distância de segurança',
                                                data: [9892, 1347, 238234]
                                            },
                                            {
                                                name: 'Velocidade incompatível',
                                                data: [67484, 5345, 256758]
                                            },
                                            {
                                                name: 'Média',
                                                data: [17484, 3345, 56758]
                                            },
                                            ]
                                        });
                                    });
                                </script>      
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#">Gráfico de barras</a></p>
                            <div class="content" data-section-content>
                                <h6>Probabilidade para cada tipo de ocorrência no próximo ano de acordo com a distribuição normal</h6>
                                <div class="row">
                                    <div class="push-1 columns">    
                                        <ul class="square" style="font-size: 80%">
                                            <li>Bom = X &lt; (média - desvio padrão)</li>
                                            <li>Médio = (média - desvio padrão) &lt; X &lt; (média + desvio padrão)</li>
                                            <li>Ruim = X &gt; (média + desvio padrão) </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="grafico_barra" style="min-width: 60%; margin: 0 auto"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#grafico_barra').highcharts({
                                            chart: {
                                                type: 'column'
                                            },
                                            title: {
                                                text: 'Probabilidade de tipos ocorrências para o próximo ano'
                                            },
                                            subtitle: {
                                                text: 'Distribuição normal: http://pt.wikipedia.org/wiki/Distribuição_normal'
                                            },
                                            xAxis: {
                                                categories: [
                                                    'Falta de atenção',
                                                    'Não guardar distância de segurança',
                                                    'Velocidade incompatível',
                                                    'Teste',
                                                    'Teste',
                                                    'Teste',
                                                    'Teste',
                                                    'Teste',
                                                    'Teste',
                                                    'Teste',
                                                    'Teste',
                                                ]
                                            },
                                            yAxis: {
                                                min: 0,
                                                title: {
                                                    text: 'Probabilidade (%)'
                                                }
                                            },
                                            tooltip: {
                                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                    '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
                                                footerFormat: '</table>',
                                                shared: true,
                                                useHTML: true
                                            },
                                            
                                            plotOptions: {
                                                column: {
                                                    pointPadding: 0.2,
                                                    borderWidth: 0
                                                }
                                            },
                                            series: [{
                                                name: 'Bom',
                                                data: [25, 10, 15.4, 33, 12, 12, 12, 12, 12, 12, 12]
                                    
                                            }, {
                                                name: 'Médio',
                                                data: [50, 80, 69.2, 33, 12, 12, 12, 12, 12, 12, 12]
                                    
                                            }, {
                                                name: 'Ruim',
                                                data: [25, 10, 15.4, 33, 12, 12, 12, 12, 12, 12, 12]
                                            }]
                                        });
                                    });
                                </script>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#">Gráfico de pizza</a></p>
                            <div class="content" data-section-content>
                                <h6>Porcentagem de ocorrências já registrados de acordo com o tipo</h6>
                                <div id="grafico_torta" style="min-width: 60%; margin: 0 auto"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $(document).ready(function () {
                                            
                                            // Build the chart
                                            $('#grafico_torta').highcharts({
                                                chart: {
                                                    plotBackgroundColor: null,
                                                    plotBorderWidth: null,
                                                    plotShadow: false
                                                },
                                                title: {
                                                    text: 'Porcentagem tipos de ocorrências'
                                                },
                                                tooltip: {
                                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                                },
                                                plotOptions: {
                                                    pie: {
                                                        allowPointSelect: true,
                                                        cursor: 'pointer',
                                                        dataLabels: {
                                                            enabled: false
                                                        },
                                                        showInLegend: true
                                                    }
                                                },
                                                series: [{
                                                    type: 'pie',
                                                    name: 'Porcentagem',
                                                    data: [
                                                        ['Falta de atenção', 9.0909],
                                                        ['Não guardar distância de segurança',9.0909],
                                                        ['Velocidade incompatível',9.0909],
                                                        ['Teste',9.0909],
                                                        ['Teste',9.0909],
                                                        ['Teste',9.0909],
                                                        ['Teste',9.0909],
                                                        ['Teste',9.0909],
                                                        ['Teste',9.0909],
                                                        ['Teste',9.0909],
                                                        ['Teste',9.0909],
                                                    ]
                                                }]
                                            });
                                        });
                                        
                                    });
                                </script>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#">Gráfico de área com linha</a></p>
                            <div class="content" data-section-content>
                                <h6>A média de todos os tipos de ocorrências ao longo dos anos e o seu desvio padrão</h6>
                                <div id="grafico_area" style="min-width: 60%; margin: 0 auto"></div>
                                <script type="text/javascript">
                                    $(function () {

                                        var ranges = [
                                                [149999.3, 279999.7],
                                                [149999.5, 279999.8],
                                                [159999.5, 299999.6],
                                                [169999.7, 399990.7],
                                                [169999.5, 299995.0],
                                                [179999.8, 259999.7],
                                                [139999.5, 249999.8],
                                            ],
                                            averages = [
                                                [219999.5],
                                                [229992.1],
                                                [219993],
                                                [239999.8],
                                                [219999.4],
                                                [219999.3],
                                                [199998.3],
                                            ];

                                        
                                            $('#grafico_area').highcharts({
                                            
                                                title: {
                                                    text: 'Média e desvio padrão de ocorrências'
                                                },
                                            
                                                xAxis: {
                                                    categories: [2007, 2008, 2009, 2010, 2011, 2012, 2013]
                                                },
                                                
                                                yAxis: {
                                                    title: {
                                                        text: 'Quantidade total'
                                                    }
                                                },
                                            
                                                tooltip: {
                                                    crosshairs: true,
                                                    shared: true,
                                                },
                                                
                                                legend: {
                                                },
                                            
                                                series: [{
                                                    name: 'Média',
                                                    data: averages,
                                                    zIndex: 1,
                                                    marker: {
                                                        fillColor: 'white',
                                                        lineWidth: 2,
                                                        lineColor: Highcharts.getOptions().colors[0]
                                                    }
                                                }, {
                                                    name: 'Desvio',
                                                    data: ranges,
                                                    type: 'arearange',
                                                    lineWidth: 0,
                                                    linkedTo: ':previous',
                                                    color: Highcharts.getOptions().colors[0],
                                                    fillOpacity: 0.3,
                                                    zIndex: 0
                                                }]
                                            
                                            });
                                        
                                    });
                                </script>
                            </div>
                        </section>
                    </div>      
                </div>
            </section>
            <section>
                <p class="title" data-section-title><a href="#">Causas de ocorrências</a></p>
                <div class="content" data-section-content>
                    
                </div>
            </section>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/highcharts-more.js"></script>
    <script src="{{ STATIC_URL }}js/modules/exporting.js"></script>

{% include 'footer.html' %}